
<!-- CR: In this case table is ok. But in general try to avoid using html <table>
      Use table ONLY to display tabel of textual data. As i said, in this case its ok. -->
<table>
    <tr>
        <th>
            Product name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total
        </th>
        <th>
            Action
        </th>
    </tr>
    <tr *ngFor = "let item of card">
        <td>  {{item.name}}  </td>
        <td>  {{item.price}}$  </td>
        <td>  {{item.count}}  </td>
        <td>  {{item.price*item.count}}$  </td>
        <td>
            <button (click)= "deleteFromBag(item)">delete</button>
        </td>
    </tr>
    <tr>
        <h3>Total Price</h3> {{total}}$
    </tr>
</table>
